body {
  margin: 0;
  font-family: effra, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.col {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header {
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline;
  color: #5b866b;
  border-left: #5b866b solid 2px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: effra, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.active {
  background-color: #b98c48;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}
/* Design your world */

#grasspic {
  width: 100%;
  /* position: relative; */
  z-index: 1;
  display: inline;
}

.grass {
  text-align: center;
  color: white;
  display: inline;
}

#design {
  font-family: effra, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
}

.design {
  text-align: center;
  position: absolute;
  top: 550px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: inherit;
}

#pixel {
  font-family: kepler-std-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 48px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

/* about */
.about,
.portfolio {
  padding-bottom: 60px;
}

h3 {
  font-family: effra, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #524741;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#meet {
  font-family: effra, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #86765c;
}

.rightside {
  display: inline-block;
}

.leftside {
  display: inline-block;
  width: 50%;
}

.leftside p {
  margin-right: 30px;
  line-height: 1.8;
  margin-top: 0;
  position: relative;
  top: -50px;
}

.rightside {
  margin-left: 30px;
}

.about img {
  padding: 5px;
  height: 160px;
  padding-left: 15px;
}

/* portfolio */
h4 {
  font-family: effra, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: white;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}

.portfolio {
  background-color: #5b866b;
  text-align: center;
}

.top,
.bottom {
  display: block;
}

.lefttoparr {
  transform: rotate(-90deg);
  border-radius: 50%;
  position: relative;
  right: 510px;
  height: 50px;
  top: 115px;
}

.leftbotarr {
  transform: rotate(-90deg);
  border-radius: 50%;
  position: relative;
  top: 310px;
  right: 610px;
  height: 50px;
}

.righttoparr {
  transform: rotate(90deg);
  border-radius: 50%;
  position: relative;
  top: 115px;
  left: 610px;
  height: 50px;
}
.rightbotarr {
  transform: rotate(90deg);
  border-radius: 50%;
  position: relative;
  top: 310px;
  left: 510px;
  height: 50px;
}

.portimg {
  margin-right: 37px;
  margin-bottom: 37px;
  height: 150px;
}

.rightimg {
  margin-bottom: 37px;
  height: 150px;
}

/* contact */
h5 {
  font-family: effra, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #524741;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

textarea {
  background-color: #ebebeb;
  border: 0;
  display: block;
  margin-top: 20px;
}

form {
  float: right;
}

.map {
  float: right;
  display: block;
}

.send {
  margin-top: 40px;
  padding: 15px;
}

.sendbtn {
  transform: rotate(90deg);
  border-radius: 50%;
  height: 20px;
}

.contact button {
  background-color: #5b866b;
  color: white;
  text-align: center;
  font-size: 24px;
}

.contactleft {
  display: inline-block;
}

.contactright {
  width: 50%;
  display: inline;
}

/* footer */
footer {
  margin-top: 40px;
  width: 100%;
  display: block;
}

footer p {
  display: inline;
}

.logo {
  margin-left: 15px;
  height: 35px;
  filter: grayscale(100%);
  border-radius: 10%;
}

.fb {
  margin-left: 0px;
}

.floatright {
  float: right;
}
